.cookie-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9990;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
}
.cookie {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding: 50px;
  display: flex;
  z-index: 9999;
  position: fixed;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  align-items: center;
  border-radius: 5px 5px 0 0;
  justify-content: center;
  background-color: #fff;
}
.cookie.active {
  opacity: 1;
  visibility: visible;
}
.cookie-reject {
  text-align: left;
}
.cookie__inner {
  max-width: 860px;
}
.cookie__heading,
.cookie-reject__heading {
  color: #151616;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.cookie-reject__heading {
  text-align: center;
  margin-bottom: 33px;
}
.cookie__text,
.cookie-reject__text {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}
.cookie__text a,
.cookie-reject__text a {
  color: inherit;
  display: inline-block;
  position: relative;
  line-height: 1.2;
  text-decoration: none;
  text-decoration-line: underline;
}
.cookie__buttons,
.cookie-reject__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-left: -24px;
  margin-bottom: -24px;
}
.cookie-reject__buttons {
  margin-top: 33px;
}
.cookie__buttons > *,
.cookie-reject__buttons > * {
  margin-left: 24px;
  margin-bottom: 24px;
}
.cookie__btn,
.cookie-reject__btn {
  flex: 1 1 0%;
  color: #fff;
  height: 40px;
  border: 1px solid #f63333;
  display: flex;
  font-size: 16px;
  max-width: 238px;
  font-weight: 500;
  align-items: center;
  border-radius: 100px;
  text-transform: uppercase;
  justify-content: center;
  background-color: #f63333;
}
.cookie-reject__btn {
  max-width: none;
}
.cookie__btn:hover,
.cookie-reject__btn:hover {
  color: #fff;
  background-color: #de2e2e;
}
.cookie__btn--outline,
.cookie-reject__btn--outline {
  color: #f63333;
  background-color: transparent;
}
.cookie__btn--outline:hover,
.cookie-reject__btn--outline:hover {
  color: #f63333;
  background-color: rgba(246, 51, 51, 0.05);
}

@media (max-width: 575.98px) {
  .cookie {
    padding: 20px;
  }
}
